<main class="py-5">
  <div class="container">
    <h1>Add New FAQ</h1>
    <form [formGroup]="faqForm" (ngSubmit)="addFaq()">
      <div class="form-group mb-3">
        <label for="text" class="form-label">Question:</label>
        <div class="input-group">
          <input type="text" class="form-control" formControlName="question" />
          <span class="input-group-text" style="font-weight: bold; font-size: 18px">?</span>
        </div>
        @if (faqForm.get('question')?.touched) {
          <div class="msg">
            @if (faqForm.get('question')?.errors?.['required']) {
              <span>Question is required</span>
            }
          </div>
        }
      </div>
      <div class="form-group mb-3">
        <label for="text" class="form-label">Answer:</label>
        <input type="text" class="form-control" formControlName="answer" />
        @if (faqForm.get('answer')?.touched) {
          <div class="msg">
            @if (faqForm.get('answer')?.errors?.['required']) {
              <span>Answer is required</span>
            }
          </div>
        }
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-success">Add FAQ</button>
      </div>
    </form>
    <h1>Your FAQs List</h1>
    <div class="accordion" id="accordionPanelsStayOpenExample">
      @for (faq of faqsList(); track faq._id) {
        <div class="accordion-item">
          <h2 class="accordion-header position-relative">
            <div
              class="d-flex align-items-center gap-2 position-absolute end-0 top-50 translate-middle-y"
              style="z-index: 5; margin-right: 50px"
              >
              <button
                type="button"
                class="btn btn-warning text-light"
                (click)="updateFaq(faq)"
                data-bs-toggle="modal"
                data-bs-target="#updateFaqModal"
                >
                <i class="fa-solid fa-pen"></i>
              </button>
              <button
                type="button"
                class="btn btn-danger"
                (click)="deleteFaq(faq)"
                data-bs-toggle="modal"
                data-bs-target="#deleteFaqModal"
                >
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              attr.data-bs-target="#panelsStayOpen-collapse-{{ $index }}"
              aria-expanded="false"
              attr.aria-controls="panelsStayOpen-collapse-{{ $index }}"
              >
              {{ $index + 1 }}- {{ faq.question }}
            </button>
          </h2>
          <div id="panelsStayOpen-collapse-{{ $index }}" class="accordion-collapse collapse">
            <div class="accordion-body">
              {{ faq.answer }}
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</main>
<!-- Modals -->
<!-- Edit -->
<div
  class="modal fade"
  id="updateFaqModal"
  tabindex="-1"
  aria-labelledby="updateFaqModalLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateFaqModalLabel">Edit FAQ</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateFaqForm">
          <div class="form-group mb-3">
            <label for="text" class="form-label">Question:</label>
            <div class="input-group">
              <input type="text" class="form-control" formControlName="question" />
              <span class="input-group-text" style="font-weight: bold; font-size: 18px">?</span>
            </div>
            @if (updateFaqForm.get('question')?.touched) {
              <div class="msg">
                @if (updateFaqForm.get('question')?.errors?.['required']) {
                  <span
                    >Question is required</span
                    >
                  }
                </div>
              }
            </div>
            <div class="form-group mb-3">
              <label for="text" class="form-label">Answer:</label>
              <input type="text" class="form-control" formControlName="answer" />
              @if (updateFaqForm.get('answer')?.touched) {
                <div class="msg">
                  @if (updateFaqForm.get('answer')?.errors?.['required']) {
                    <span
                      >Answer is required</span
                      >
                    }
                  </div>
                }
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              (click)="confirmUpdate()"
              >
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- DELETE -->
    <div
      class="modal fade"
      id="deleteFaqModal"
      tabindex="-1"
      aria-labelledby="deleteFaqModalLabel"
      aria-hidden="true"
      >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteFaqModalLabel">Confirm Delete</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h4>Are You Sure You Want To Delete this FAQ</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
              (click)="confirmDelete()"
              >
              Confirm Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- ALERTS -->
    @if (isSuccess()) {
      <div
        class="alert alert-success alert-dismissible position-fixed end-0"
        role="alert"
        style="width: fit-content; bottom: 45px; z-index: 5"
        >
        <div>{{ alertMessage() }}</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    }
    @if (isError()) {
      <div
        class="alert alert-danger alert-dismissible position-fixed end-0"
        role="alert"
        style="width: fit-content; bottom: 45px; z-index: 5"
        >
        <div>{{ alertMessage() }}</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    }
