<main class="py-5">
  <div class="container">
    <div class="d-flex align-items-center gap-3">
      <h1>Your Orders</h1>
      <select
        class="form-select"
        aria-label="Default select example"
        [(ngModel)]="selectedStatue"
        style="width: fit-content"
        (change)="applyFilter()"
        >
        <option ngValue="" selected>All Orders</option>
        @for (statue of allStatus; track statue) {
          <option [ngValue]="statue">{{ statue }}</option>
        }
      </select>
    </div>
    @for (order of orders(); track order._id) {
      <div class="card mb-4" style="background-color: #f4f4f4">
        <div class="card-body">
          <div
            class="d-flex align-items-center gap-2 position-absolute end-0"
            style="z-index: 5; margin-right: 1rem"
            >
            @if (['pending', 'preparing', 'shipped'].includes(order.status)) {
              <button
                type="button"
                class="btn btn-success text-light"
                data-bs-toggle="modal"
                data-bs-target="#changeStatusModal"
                (click)="setTarget(order)"
                >
                Change Status
              </button>
            }
          </div>
          <h5 class="mb-3">
            Status:
            <span
            [ngStyle]="{
              color: redStatus.includes(order.status)
                ? 'red'
                : yellowStatus.includes(order.status)
                ? '#ff9800'
                : greenStatus.includes(order.status)
                ? 'green'
                : 'inherit'
            }"
              >{{ order.status }}</span
              >
            </h5>
            @for (item of order.products; track item._id) {
              <div class="card mb-3">
                <div class="row g-0 p-3">
                  <div class="col-md-2 position-relative">
                    <img
                      [ngSrc]="item.product.image"
                      class="img-fluid rounded-start"
                      [alt]="item.product.title"
                      fill
                      [priority]="$first"
                      />
                  </div>
                  <div class="col-md-10 position-relative">
                    <div class="card-body">
                      <h4 class="card-title">{{ item.product.title }}</h4>
                      <h5 class="card-title">{{ item.priceAtOrdering | currency : 'EGP ' }}</h5>
                      <h5 class="card-title">Quantity: {{ item.quantity }} items</h5>
                      <h5 class="card-title position-absolute end-0">
                        Total Price: {{ item.quantity * item.product.price | currency : 'EGP ' }}
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            }
            <h5>
              Delivery address: {{ order.shippingAddress.street | titlecase }} -
              {{ order.shippingAddress.city | titlecase }} -
              {{ order.shippingAddress.governorate | titlecase }}
            </h5>
            <h5>Phone Number: {{ order.phone }}</h5>
            <div class="d-flex align-items-center justify-content-between">
              <h5>Ordered at: {{ order.orderedAt | date }}</h5>
              <h4>
                Order's Total Price:
                {{ order.totalPrice | currency : 'EGP ' }}
              </h4>
            </div>
            <div class="d-flex justify-content-end mt-3">
              @if (order.status === 'pending' || order.status === 'preparing') {
                <button
                  class="btn btn-danger"
                  (click)="setTarget(order)"
                  data-bs-toggle="modal"
                  data-bs-target="#rejectOrderModal"
                  >
                  Reject Order
                </button>
              }
            </div>
          </div>
        </div>
      }
    </div>
  </main>
  <!-- Modals -->
  <!-- Edit -->
  <div
    class="modal fade"
    id="changeStatusModal"
    tabindex="-1"
    aria-labelledby="changeStatusModalLabel"
    aria-hidden="true"
    >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="changeStatusModalLabel">Change Order Status</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5 class="mb-3">Status</h5>
          <select class="form-select" aria-label="Default select example" [(ngModel)]="statusInput">
            @for (statue of availableStatus; track statue) {
              <option [ngValue]="statue">{{ statue }}</option>
            }
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="changeStatus()"
            >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Reject -->
  <div
    class="modal fade"
    id="rejectOrderModal"
    tabindex="-1"
    aria-labelledby="rejectOrderModalLabel"
    aria-hidden="true"
    >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="rejectOrderModalLabel">Confirm Reject</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4>Are You Sure You Want To Reject this Order</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button
            type="button"
            class="btn btn-danger"
            data-bs-dismiss="modal"
            (click)="rejectOrder()"
            >
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- ALERTS -->
  @if (isSuccess()) {
    <div
      class="alert alert-success alert-dismissible position-fixed end-0"
      role="alert"
      style="width: fit-content; bottom: 45px; z-index: 5"
      >
      <div>{{ alertMessage() }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  }
  @if (isError()) {
    <div
      class="alert alert-danger alert-dismissible position-fixed end-0"
      role="alert"
      style="width: fit-content; bottom: 45px; z-index: 5"
      >
      <div>{{ alertMessage() }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  }
